on boot

# Thermal
  chmod 0664 /sys/class/thermal/thermal_message/sconfig
  chown system system /sys/class/thermal/thermal_message/sconfig
  chmod 0666 /sys/class/thermal/thermal_message/temp_state
  chown system system /sys/class/thermal/thermal_message/temp_state
